.footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: blue;
  }
  
  
  .footer p {
    color: #ccc;
    font-family: "McLaren", cursive;
    font-weight: 200;
  }